//variables
$simple-orange: #e64448;
$white: #fff;
$off-yellow: #eab244;
$dark-grey: #3c3a48;
$off-white: #e1e2df;
$pale-blue: #89c5c7;
$dark-blue: #0b354b;
$light-grey: #696c6d;

//mixins
@mixin standard-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

body {
  width: 400px;
  margin: auto;
  background-color: $simple-orange;
}

header {
  background-color: $white;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: $simple-orange;
  @include standard-padding;

  h1 {
    color: $dark-grey;
  }
  p {
    color: $off-yellow;
  }
}

.bikes {
  background-color: $off-white;
  text-align: center;
}

.signup {
  display: block;
  background-color: $pale-blue;
  color: $dark-blue;
  @include standard-padding;
  h1 {
    color: $light-grey;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
}

.about {
  display: block;
  background-color: $off-yellow;
  @include standard-padding;
  h1 {
    color: $simple-orange;
  }
  p {
    color: $off-white;
  }
}
